*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(to right,#ff2 );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container{
    background:whitesmoke;
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    border: 5px solid black;
}

h1{
    padding-top: 40px;
    color: blue;
}

p{
    padding-top: 50px;
    font-weight: 600;
    
}

button{
    margin-top: 40px;
    padding: 20px;
    color: black;
    background-color: aquamarine;
    border-width: 3px;
    border-radius: 20px;
    font-weight: 600;

}

#result{
    margin-top: 20px;
    margin-left: 60px;
    padding: 20px;
    font-size: large;
    font-weight: 600;
    color:black;
    border: 3px solid ;
    border-radius: 20px;
    width: 300px;

}

.score{
    display: flex;
    border-width: 2px;
    border: solid black;
    
}